<br></br>
<div class="form-group form-inline search-bar text-center">
  <%= search_form_for @q do |f| %>
  <button id="my-open-click" type="button" class="btn btn-default">诊断</button>
  <%= f.search_field :title_cont, :placeholder => "输入名称 搜索模板", :class => "form-control" %>
  <%= f.submit "search", :class => "btn btn-default" %></p>
  <% end %>
</div>

<div id="foo" ;">
  <button id="my-hide-click" type="button" class="btn btn-warning">隐藏</button>
  <%= search_form_for @q do |f| %>
      <p><%= f.search_field :pos_cont, :placeholder => "位置", :class => "form-control" %></p>
      <p><%= f.search_field :aut_cont, :placeholder => "切面", :class => "form-control" %></p>
      <p><%= f.search_field :size_cont, :placeholder => "大小", :class => "form-control" %></p>
      <p><%= f.search_field :echo_cont, :placeholder => "回声", :class => "form-control" %></p>
      <p><%= f.search_field :comp_cont, :placeholder => "成分", :class => "form-control" %></p>
      <p><%= f.search_field :form_cont, :placeholder => "形态", :class => "form-control" %></p>
      <p><%= f.search_field :edge_cont, :placeholder => "边缘", :class => "form-control" %></p>
      <p><%= f.search_field :calc_cont, :placeholder => "钙化", :class => "form-control" %></p>
      <p><%= f.search_field :color_cont, :placeholder => "血流", :class => "form-control" %></p>
      <p><%= f.search_field :spec_cont, :placeholder => "频谱", :class => "form-control" %></p>
      <p><%= f.search_field :elas_cont, :placeholder => "弹性（质地）", :class => "form-control" %></p>
      <p><%= f.search_field :spare_cont, :placeholder => "造影", :class => "form-control" %></p>
      <p><%= f.search_field :symp_cont, :placeholder => "症状", :class => "form-control" %></p>
      <p><%= f.search_field :sign_cont, :placeholder => "体征", :class => "form-control" %></p>
      <p><%= f.search_field :bio_cont, :placeholder => "生化", :class => "form-control" %></p>
      <p><%= f.search_field :path_cont, :placeholder => "病理", :class => "form-control" %></p>
      <p><%= f.search_field :treat_cont, :placeholder => "治疗", :class => "form-control" %></p>

      <p class="text-left">
           <%= submit_tag "思考", :class => "btn btn-primary" %>
           <% end %>
      </p>
</div>

<script>
  $("#foo").hide();

  $("#my-open-click").click(function(){
    $("#foo").show();
  })

  $("#my-hide-click").click(function(){
    $("#foo").hide();
  })
</script>

<br></br>

<div class="table-responsive">
<table class="table table-hover">

    <thead>
        <tr class="bg-info">
            <td width="80">名称</td>
            <td>模板</td>
            <td width="200">正常值</td>
        </tr class="bg-info">
    </thead>

    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.description %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>


<div class="text-center">
      <%= will_paginate @jobs %>
</div>
</div>
