<meta name="viewport" content="width=320px, user-scalable=no, initial-scale=1, maximum-scale=1">



<button id="my-open-click" type="button" class="btn border：0">诊断</button>

<div id="foo" ;">
  <button id="my-hide-click" type="button" class="btn btn-default">隐藏</button>
  <%= search_form_for @q do |f| %>
      <p><%= f.search_field :pos_cont, :placeholder => "位置", :class => "form-control" %></p>
      <p><%= f.search_field :aut_cont, :placeholder => "切面", :class => "form-control" %></p>
      <p><%= f.search_field :size_cont, :placeholder => "大小", :class => "form-control" %></p>
      <p><%= f.search_field :echo_cont, :placeholder => "回声", :class => "form-control" %></p>
      <p><%= f.search_field :comp_cont, :placeholder => "成分", :class => "form-control" %></p>
      <p><%= f.search_field :form_cont, :placeholder => "形态", :class => "form-control" %></p>
      <p><%= f.search_field :edge_cont, :placeholder => "边缘", :class => "form-control" %></p>
      <p><%= f.search_field :calc_cont, :placeholder => "钙化", :class => "form-control" %></p>
      <p><%= f.search_field :color_cont, :placeholder => "血流", :class => "form-control" %></p>
      <p><%= f.search_field :spec_cont, :placeholder => "频谱", :class => "form-control" %></p>
      <p><%= f.search_field :elas_cont, :placeholder => "弹性（质地）", :class => "form-control" %></p>
      <p><%= f.search_field :spare_cont, :placeholder => "造影", :class => "form-control" %></p>
      <p><%= f.search_field :symp_cont, :placeholder => "症状", :class => "form-control" %></p>
      <p><%= f.search_field :sign_cont, :placeholder => "体征", :class => "form-control" %></p>
      <p><%= f.search_field :bio_cont, :placeholder => "生化", :class => "form-control" %></p>
      <p><%= f.search_field :path_cont, :placeholder => "病理", :class => "form-control" %></p>
      <p><%= f.search_field :treat_cont, :placeholder => "治疗", :class => "form-control" %></p>

      <p class="text-left">
           <%= submit_tag "思考", :class => "btn btn-info" %>
           <% end %>
      </p>
</div>


<script>
  $("#foo").hide();

  $("#my-open-click").click(function(){
    $("#foo").show();
  })

  $("#my-hide-click").click(function(){
    $("#foo").hide();
  })
</script>



<button id="coo" type="button" class="btn border：0">模板</button>

<div id="try" ;">
  <button id="bye" type="button" class="btn btn-default">隐藏</button>
<%= search_form_for @q do |f| %>
<%= f.search_field :title_cont, :placeholder => "名称", :class => "form-control" %>
<%= f.search_field :num_cont, :placeholder => "正常值", :class => "form-control" %>

<ul class="list-unstyled">
<li> <a href="/jobs?utf8=✓&q%5Btitle_cont%5D=肝囊肿&q%5Bnum_cont%5D=&commit=查询">肝囊肿</a></li>
<li> <a href="/jobs?utf8=✓&q%5Btitle_cont%5D=肝多发囊肿&q%5Bnum_cont%5D=&commit=查询">肝多发囊肿</a></li>
</ul>

<p class="text-left">
<%= f.submit "查询", :class => "btn btn-info" %>
<% end %>  </p>

</div>

<script>
  $("#try").hide();

  $("#coo").click(function(){
    $("#try").show();
  })

  $("#bye").click(function(){
    $("#try").hide();
  })
</script>


<div class="table-responsive">
<table class="table table-hover">


    <thead>
        <tr class="bg-info">
            <td width="60">名称</td>
            <td width="90">正常值</td>
            <td>模板</td>
        </tr class="bg-info">
    </thead>

    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td height:100>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td height:100>
                <%= job.num %>
            </td>
            <td height:100>
                <%= job.description %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>




<div class="text-center">
      <%= will_paginate @jobs %>
</div>
</div>


<div class="pull-left">
  <%= link_to("新增", new_job_path, :class => "btn border：0") %>
  <%= sort_link(@q, :title, '排序', default_order: :desc) %>
</div>
